//必要な個所にmax-widthなどなどを解除しないとマズイ
//参考：https://qiita.com/cognitom/items/d39d5f19054c8c8fd592
@media print {
  @page {
    size: A4;
    //margin: 12.7mm 9.7mm;(IE対策)
    margin: 0 auto;
    page-break-before:
      /* auto;　//制御しない （初期値）*/
      always;
  }

  html {
    font-size: 3mm;
  }

  body {
    background-image: none;
    //max-width: 1200px;
    -webkit-print-color-adjust: exact;
    padding: 0 2em;

    // > * {
    //   display: none;
    // }

    // main {
    //   display: block;
    //   padding: 10mm;
    //   width: 210mm;
    // }
  }
  header,
  .copy-right,
  .wp-navi--footer {
    display: none !important;
  }
  .header--inner {
    position: absolute !important;
  }
  .flex--double {
    display: block;
  }
}
