@charset "UTF-8";
// セクションごとにa4とする
// ノンブルも出すか
// chromeのみ対応

@media print {
  @page {
    size: A4;
    //margin: 12.7mm 9.7mm;(IE対策)
    margin: 0;
    page-break-before:
      /* auto;　//制御しない （初期値）*/
      always;
    -webkit-print-color-adjust: exact;
  }
  * {
    max-width: initial;
    max-height: initial;
    min-width: initial;
    min-height: initial;
  }

  html {
    -webkit-print-color-adjust: exact;
    font-size: 2.75mm;
   // background: $off-white !important;
  }
  body {
    -webkit-print-color-adjust: exact;
    padding: 0;
    margin: 0;
  }
  main {
    -webkit-print-color-adjust: exact;
    counter-reset: nonble 0;
    width: 68em !important;
    height: auto !important;
    padding: 0 !important;
  }
  section {
    -webkit-print-color-adjust: exact;
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 1em 2em;
    //overflow: hidden;
    &::before {
      counter-increment: nonble;
      content: counter(nonble, decimal-leading-zero);
      position: absolute;
      bottom: 2em;
      font-size: 2mm;
      left: 50%;
      transform: translateY(-50%);
    }
    img {
      width: 75%;
      height: auto;
      margin: 0 auto;
    }
  }
}
