@use "../global" as *;

.header {
  position: relative;
  width: var(--contentWidth);
  padding: var(--headerPaddingVertical) var(--headerPaddingHorizontal);
  margin: 0 auto;
  &--inner {
    max-width: var(--contentWidthInner);
    margin: 0 auto;
    display: flex;
    // justify-content: space-between;
    gap: var(--sizeL);
    align-items: center;
  }
  &--identity {
    display: block;
    margin: 0;
    height: var(--identityHeight);
    display: grid;
    place-content: center;

    font-size: var(--identityHeight);
  }
}
