@use "../global" as *;
$searchInputHeight: 1lh;
$searchInputWidth: 20rem;
$searchInputPadding: var(--sizeXxs);

.search {
  display: none;

  &__active {
    display: block;
    position: absolute;
  }
  &--area {
    position: relative;
    width: $searchInputWidth;
    // 多分書き直したほうがいい
  }
  &--input {
    display: block;
    height: $searchInputHeight;
    width: 100%;
    padding: $searchInputPadding;
    border: 1px solid var(--colorLinePrimary);
    background: var(--colorBackground);
    &::placeholder {
      color: var(--colorText);
      opacity: 0.5;
    }
    &:focus-visible {
      outline: 2px solid var(--colorLinePrimary);
    }
  }

  &--result {
    position: relative;

    &--quantity {
    }
  }
  &--response {
    position: absolute;
    top: $searchInputHeight * -2;
    // left: $searchInputPadding;
    width: $searchInputWidth;
    font-size: var(--sizeS);
    padding: 0 var(--sizeXxs);
    background: var(--colorText);
    color: var(--colorBackground);
  }

  &--list {
    &__active {
      background: var(--colorText);
      backdrop-filter: blur(12px);
      color: var(--colorBackground);
      line-height: var(--lineHeightS);
      max-height: 80vh;
      overflow-y: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &--child {
      padding: var(--sizeXs) $searchInputPadding;
      &--inner {
      }
    }

    &--link {
    }

    &--title {
      display: block;
      margin-bottom: var(--sizeXxs);
    }
    &--extract {
      font-size: var(--sizeS);
    }
  }
}
