@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
:root {
  --contentWidth: 100vw;
  --contentWidthInner: 80em;
  --fontSize: 14px;
  --sizeXxs: 0.6em;
  --sizeXs: 0.75em;
  --sizeS: 0.86em;
  --sizeSm: 1em;
  --sizeM: 1.2em;
  --sizeSl: 1.5em;
  --sizeL: 2em;
  --sizeXl: 3em;
  --sizeXxl: 6em;
  --lineHeightNone: var(--sizeSm);
  --lineHeightS: var(--sizeM);
  --lineHeightM: var(--sizeL);
  --lineHeightL: var(--sizeXl);
  --weightPrimary: 500;
  --weightSecondary: 700;
  --colorText: #463;
  --colorBackground: ddd;
  --colorScrollbar: rgba(160,230,180,0.5);
  --black: #555;
  --white: #fff;
  --offWhite: #fdfdfd;
  --gray: #bbb;
  --colorPrimary: #291;
  --colorSecondary: #aaa;
  --colorTertiary: #ccc;
  --colorAccent: #f43;
  --borderGray: solid 1px var(--gray);
  --borderPrimary: solid 1px var(--colorPrimary);
  --ease: ease("ease-in-out");
  --zIndexPrimary: 100;
  --zIndexHeader: 200;
  --zIndexModal: 300;
}
@media screen and (max-width: 38em) {
  :root {
    --fontSize: 12px;
    --sizeXxs: 0.6em;
    --sizeXs: 0.75em;
    --sizeS: 0.86em;
    --sizeSm: 1em;
    --sizeM: 1.2em;
    --sizeSl: 1.5em;
    --sizeL: 2em;
    --sizeXl: 3em;
    --sizeXxl: 3em;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorText: #ddd;
    --colorBackground: #463;
    --colorScrollbar: rgba(160,230,180,0.5);
    --black: #fff;
    --white: #555;
    --offWhite: #6f6f6f;
    --gray: #333;
    --colorPrimary: #fff;
    --colorSecondary: #aaa;
    --colorTertiary: #ccc;
    --colorAccent: #f43;
  }
}
.container {
  gap: var(--sizeSl);
  max-width: 80em;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 38em) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header {
  padding: var(--sizeSm) var(--sizeS);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  padding: var(--sizeSl) 0;
  position: sticky;
  top: 0;
}
@media screen and (max-width: 80em) {
  .header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}
@media screen and (max-width: 38em) {
  .header {
    position: static;
  }
}

.title {
  font-size: var(--sizeSl);
  font-weight: var(--weightSecondary);
  margin-bottom: var(--sizeXXs);
}

.aside {
  font-size: var(--sizeS);
  line-height: var(--lineHeightS);
}

.postedTime {
  display: inline-block;
  margin-bottom: var(--sizeXs);
}
.postedTime::before {
  content: "Posted";
  display: inline-block;
  margin-right: var(--sizeXxs);
  font-size: var(--sizeXxs);
}

.updatedTime {
  display: inline-block;
  margin-bottom: var(--sizeXs);
  margin-left: var(--sizeXs);
}
.updatedTime::before {
  content: "Updated";
  display: inline-block;
  margin-right: var(--sizeXxs);
  font-size: var(--sizeXxs);
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--sizeXxs);
}

.tag {
  font-size: var(--sizeS);
}

.mainImage {
  padding: var(--sizeM);
}
@media screen and (max-width: 38em) {
  .mainImage {
    width: 80%;
    margin: 0 auto;
  }
}
.mainImageSvg {
  display: block;
  fill: var(--colorText);
  aspect-ratio: 1/1;
}
@media screen and (max-width: 38em) {
  .mainImageSvg {
    width: 80%;
    margin: 0 auto;
  }
}
.mainImageCaption {
  font-size: var(--sizeS);
}/*# sourceMappingURL=post.module.css.map */