@charset "utf-8";

ol.c-orderd-lst {
  counter-reset: number 0;

  li {
    &::before {
      counter-increment: number 1;
      content: counters(number, "-", decimal-leading-zero) ".";
      padding-right: 0.5em;
      color: $primary-color * $jump-smaller;
    }
  }
}

small.c-smaller {
  font-size: 1em * $jump-smaller * $jump-smaller;
}

.c- {
  &align {
    &--center {
      text-align: center;
    }
  }

  &vertical-writing {
    writing-mode: vertical-rl;
    font-feature-settings: normal;
    margin: 0 0 0 $size-sl;
    letter-spacing: 0.05em;
  }

  &btn--main{
    @include praimary-btn();
  }

  &size--xxl {
    font-size: $size-xxl;
  }
  &size--xl {
    font-size: $size-xl;
  }
  &size--l {
    font-size: $size-l;
  }
  &size--sl {
    font-size: $size-sl;
  }
  &size--m {
    font-size: $size-m;
  }
  &size--sm {
    font-size: $size-sm;
  }
  &size--s {
    font-size: $size-xs;
  }

  &mb--xxl {
    margin-bottom: $size-xxl;
  }
  &mb--xl {
    margin-bottom: $size-xl;
  }
  &mb--l {
    margin-bottom: $size-l;
  }
  &mb--sl {
    margin-bottom: $size-sl;
  }
  &mb--m {
    margin-bottom: $size-m;
  }
  &mb--sm {
    margin-bottom: $size-sm;
  }
  &mb--s {
    margin-bottom: $size-xs;
  }
  &mb--xs {
    margin-bottom: $size-xxs;
  }
  &mb--none {
    margin-bottom: 0;
  }

  &mt--xxl {
    margin-top: $size-xxl;
  }
  &mt--xl {
    margin-top: $size-xl;
  }
  &mt--l {
    margin-top: $size-l;
  }
  &mt--sl {
    margin-top: $size-sl;
  }
  &mt--m {
    margin-top: $size-m;
  }
  &mt--sm {
    margin-top: $size-sm;
  }
  &mt--s {
    margin-top: $size-xs;
  }
  &mt--xs {
    margin-top: $size-xxs;
  }
  &mt--none {
    margin-top: 0;
  }

  &mv--none {
    //ヴァーティクル
    margin-top: 0;
    margin-bottom: 0;
  }

  &c--white {
    color: $white;
  }

  &scall-x {
    &--75 {
      transform: scaleX(0.75);
    }
  }

  &folding {
    margin-bottom: $size-sl;
    //追記
    @include break-point(2) {
      //overflow: scroll;
    }
    @include break-point(2) {
      margin-bottom: 0;
    }

    > input {
      display: none;
    }
    > label {
      display: block;
      cursor: pointer;
      margin-bottom: $size-sm;
    }
    &--icon {
      @include add-box-shadow;
      margin: 0 $size-xxs/2;
      display: inline-block;
      width: 1em;
      height: 1em;
      position: relative;
      border-radius: 50%;
      background-color: $white;
      &::after {
        content: "+";
        font-size: $size-s;
        display: inline-block;
        color: $secondary-color;
        position: absolute;
        line-height: $line-height-none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &--contents {
      display: block;
      height: 0;
      overflow: hidden;
    }

    > input:checked {
      & ~ label {
        .c-folding--icon {
          &::after {
            content: "-";
          }
        }
      }
      & ~ .c-folding--contents {
        height: auto;
        min-height: 3em;
      }
    }

    &--bp1 {
      //追記
      @include break-point(2) {
        //overflow: scroll;
      }

      > input {
        display: none;
      }
      > label {
        display: none;
        @include break-point(2) {
          display: block;
          cursor: pointer;
          margin-bottom: $size-sm;
        }
        &--icon {
          @include add-box-shadow;
          margin: 0 $size-xxs/2;
          display: inline-block;
          width: 1em;
          height: 1em;
          position: relative;
          border-radius: 50%;
          background-color: $white;
          &::after {
            content: "+";
            font-size: $size-s;
            display: inline-block;
            color: $secondary-color;
            position: absolute;
            line-height: $line-height-none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      &--contents {
        @include break-point(2) {
          display: block;
          height: 0;
          overflow: hidden;
        }
      }

      > input:checked {
        & ~ label {
          .c-folding--icon {
            &::after {
              content: "-";
            }
          }
        }
        & ~ .c-folding--bp1--contents {
          @include break-point(2) {
            height: 100%;
            transform: scaleY(1);
          }
        }
      }
    }
  }


  &loading {
    &--none {
      transition: all 1s ease("easeOutQuad");
      pointer-events: none;
      opacity: 0;
      z-index: -1000;
    }
    &--inner {
      width: 16vmax;
      @include break-point(2) {
        width: 30vmax;
      }
      &__svg {
        fill: $gray;
        &:not(:last-child) {
          margin-bottom: $size-xxs;
        }
      }
    }
  }
}
#c- {
  &loading {
    &--wrap {
      transition: all 1s ease("easeOutQuad");
      background: $white;
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
