@charset "UTF-8";
:root {
  --contentWidth: 100vw;
  --contentWidthInner: 80em;
  --contentsWidthInnerSide: calc((100vw - var(--contentWidthInner)) / 2);
  --fontSize: 14px;
  --sizeXxs: 0.6em;
  --sizeXs: 0.75em;
  --sizeS: 0.86em;
  --sizeSm: 1em;
  --sizeM: 1.2em;
  --sizeSl: 1.5em;
  --sizeL: 2em;
  --sizeXl: 3em;
  --sizeXxl: 6em;
  --lineHeightNone: var(--sizeSm);
  --lineHeightS: var(--sizeM);
  --lineHeightM: var(--sizeL);
  --lineHeightL: var(--sizeXl);
  --weightPrimary: 500;
  --weightSecondary: 700;
  --colorText: #463;
  --colorBackground: #ddd;
  --colorScrollbar: rgba(160, 230, 180, 0.5);
  --colorLinePrimary: #ccc;
  --black: #555;
  --white: #fff;
  --offWhite: #fdfdfd;
  --gray: #bbb;
  --colorPrimary: #291;
  --colorSecondary: #aaa;
  --colorTertiary: #ccc;
  --colorAccent: #f43;
  --borderGray: solid 1px var(--gray);
  --borderPrimary: solid 1px var(--colorPrimary);
  --zIndexPrimary: 100;
  --zIndexHeader: 200;
  --zIndexModal: 300;
  --identityHeight: 1lh;
  --headerPaddingVertical: var(--sizeM);
  --headerPaddingHorizontal: var(--sizeM);
  --headerVerticalSize: calc(
    var(--headerPaddingVertical) * 2 + var(--headerPaddingVertical)
  );
  --headerVerticalCenterPosition: calc(var(--headerVerticalSize) / 2);
}
@media screen and (max-width: 38em) {
  :root {
    --fontSize: 12px;
    --sizeXxs: 0.6em;
    --sizeXs: 0.75em;
    --sizeS: 0.86em;
    --sizeSm: 1em;
    --sizeM: 1.2em;
    --sizeSl: 1.5em;
    --sizeL: 2em;
    --sizeXl: 3em;
    --sizeXxl: 3em;
    --contentWidth: 100vw;
    --contentWidthInner: 90%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorText: #ddd;
    --colorBackground: #463;
    --colorScrollbar: rgba(160, 230, 180, 0.5);
    --black: #fff;
    --white: #555;
    --offWhite: #6f6f6f;
    --gray: #333;
    --colorPrimary: #fff;
    --colorSecondary: #aaa;
    --colorTertiary: #ccc;
    --colorAccent: #f43;
  }
}
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  font-size: var(--fontSize);
  line-height: var(--lineHeightM);
  text-align: left;
  color: var(--colorText);
  background: var(--colorBackground);
  letter-spacing: 0.025em;
  font-family: sans-serif;
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.layout--container {
  width: var(--contentWidth);
  margin: 0 auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--sizeSl);
}
.layout--inner {
  padding: 0 var(--sizeSl);
}

.header {
  position: relative;
  width: var(--contentWidth);
  padding: var(--headerPaddingVertical) var(--headerPaddingHorizontal);
  margin: 0 auto;
}
.header--inner {
  max-width: var(--contentWidthInner);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--sizeL);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header--identity {
  display: block;
  margin: 0;
  height: var(--identityHeight);
  display: grid;
  place-content: center;
  font-size: var(--identityHeight);
}

.search {
  display: none;
}
.search__active {
  display: block;
  position: absolute;
}
.search--area {
  position: relative;
  width: 20rem;
}
.search--input {
  display: block;
  height: 1lh;
  width: 100%;
  padding: var(--sizeXxs);
  border: 1px solid var(--colorLinePrimary);
  background: var(--colorBackground);
}
.search--input::-webkit-input-placeholder {
  color: var(--colorText);
  opacity: 0.5;
}
.search--input::-moz-placeholder {
  color: var(--colorText);
  opacity: 0.5;
}
.search--input:-ms-input-placeholder {
  color: var(--colorText);
  opacity: 0.5;
}
.search--input::-ms-input-placeholder {
  color: var(--colorText);
  opacity: 0.5;
}
.search--input::placeholder {
  color: var(--colorText);
  opacity: 0.5;
}
.search--input:focus-visible {
  outline: 2px solid var(--colorLinePrimary);
}
.search--result {
  position: relative;
}
.search--response {
  position: absolute;
  top: -2lh;
  width: 20rem;
  font-size: var(--sizeS);
  padding: 0 var(--sizeXxs);
  background: var(--colorText);
  color: var(--colorBackground);
}
.search--list__active {
  background: var(--colorText);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  color: var(--colorBackground);
  line-height: var(--lineHeightS);
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.search--list__active::-webkit-scrollbar {
  display: none;
}
.search--list--child {
  padding: var(--sizeXs) var(--sizeXxs);
}
.search--list--title {
  display: block;
  margin-bottom: var(--sizeXxs);
}
.search--list--extract {
  font-size: var(--sizeS);
}

.globalNavi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--sizeM);
}
.globalNavi--drawer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: var(--headerVerticalSize);
  max-height: 100vh;
  width: 100vw;
}
.globalNavi--drawer.open {
  display: block;
  z-index: var(--zIndexHeader);
}
.globalNavi--drawer--button {
  display: block;
  position: relative;
  width: 4em;
  height: 2em;
  display: grid;
  place-content: center;
  font-size: var(--sizeXxs);
}
.globalNavi--drawer--button::before {
  content: "";
  display: block;
  height: 2px;
  width: 4em;
  position: absolute;
  background-color: var(--colorText);
  top: 0;
  left: 0;
}
.globalNavi--drawer--button::after {
  content: "";
  display: block;
  height: 2px;
  width: 4em;
  position: absolute;
  background-color: var(--colorText);
  bottom: 0;
  left: 0;
}
.globalNavi--drawer--button.open::before {
  width: 4.47213em;
  -webkit-transform: rotate(2.24deg);
          transform: rotate(2.24deg);
}
.globalNavi--drawer--button.open::after {
  width: 4.47213em;
  -webkit-transform: rotate(-2.24deg);
          transform: rotate(-2.24deg);
}
.globalNavi--drawer--button--container {
  position: absolute;
  top: var(--headerVerticalCenterPosition);
  right: var(--contentsWidthInnerSide);
  z-index: var(--zIndexModal);
}
.globalNavi--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media print {
  @page {
    size: A4;
    margin: 0 auto;
    page-break-before: always;
  }
  html {
    font-size: 3mm;
  }
  body {
    background-image: none;
    -webkit-print-color-adjust: exact;
    padding: 0 2em;
  }
  header,
  .copy-right,
  .wp-navi--footer {
    display: none !important;
  }
  .header--inner {
    position: absolute !important;
  }
  .flex--double {
    display: block;
  }
}
/*!
Theme Name:
Theme URI:
Author:
Author URI:
Description:
Version: 1.0
License:
License URI:
Tags:

◆1：CSSリセット・フォントの読み込み
◆2：レイアウト設定
◆3：オブジェクト
◆4：外部プラグイン対応
◆5：標準設定
◆6：デバッグ

※ IE11非対応

! de-style.css v1.0.5 | MIT License | https://github.com/nicolas-cusan/destyle.css
*/
/*==============================================
◆1：CSSリセット・フォントの読み込み
==============================================*/
/*==============================================
◆5：コンポーネント
==============================================*/
/*==============================================
◆6：プロジェクト
==============================================*/
/*==============================================
◆9：標準設定
==============================================*/
/*==============================================
◆10：デバッグ
==============================================*//*# sourceMappingURL=style.css.map */