@charset "utf-8";
@import "../../styles/mixin";
@import "../../styles/functions";
@import "../../styles/variables";

.container{
}
.contentsList{
    @include scrollbar;
    display: none;
    position: absolute;
    background: var(--gray);
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    &Background{
        display: none;
    }
}