@charset "utf-8";
@import "../../styles/mixin";
@import "../../styles/functions";
@import "../../styles/variables";

.container {
  gap: var(--sizeSl);
  max-width: $breakPoint1;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  @include breakPoint(2) {
    flex-direction: column;
  }
}
.header {
  padding: var(--sizeSm) var(--sizeS);
  flex: 0 0 33%;
  padding: var(--sizeSl) 0;
  position: sticky;
  top: 0;
  @include breakPoint(1) {
    flex: 0 0 45%;
  }
  @include breakPoint(2) {
    position: static;
  }
}
.title {
  font-size: var(--sizeSl);
  font-weight: var(--weightSecondary);
  margin-bottom: var(--sizeXXs);
}
.aside {
  font-size: var(--sizeS);
  line-height: var(--lineHeightS);
}
.postedTime {
  display: inline-block;
  margin-bottom: var(--sizeXs);
  &::before {
    content: "Posted";
    display: inline-block;
    margin-right: var(--sizeXxs);
    font-size: var(--sizeXxs);
  }
}
.updatedTime {
  display: inline-block;
  margin-bottom: var(--sizeXs);
  margin-left: var(--sizeXs);
  &::before {
    content: "Updated";
    display: inline-block;
    margin-right: var(--sizeXxs);
    font-size: var(--sizeXxs);
  }
}
.tags {
  display: flex;
  gap: var(--sizeXxs);
}
.tag {
  font-size: var(--sizeS);
}
.mainImage {
  padding: var(--sizeM);
  @include breakPoint(2) {
    width: 80%;
    margin: 0 auto;
  }
  &Svg {
    display: block;
    fill: var(--colorText);
    aspect-ratio: 1 / 1;
    @include breakPoint(2) {
      width: 80%;
      margin: 0 auto;
    }
    Use {
    }
  }
  &Caption {
    font-size: var(--sizeS);
  }
}
.content {
  // padding: 0 var(--sizeM);
  @include breakPoint(1) {
  }
}
