@charset "utf-8";

.container{
    width: var(--contentWidth);
    padding: var(--sizeXs);
}
.inner{
    max-width: var(--contentWidthInner);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.siteName{
    margin: 0;
}

.globalNavi{
    display: flex;
    gap: var(--sizeSm);
}

.globalNaviItem{
    &:hover{
        color: var(--colorPrimary);
    }
}