@charset "utf-8";
@import "../../styles/mixin";
@import "../../styles/functions";

.container{
    width: var(--contentWidth);
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--sizeSl);
}

.inner{
    padding: 0 var(--sizeSl);
}