@charset "utf-8";
.search{
    display: none;
    &__active{
        display: block;
    }
    &--area{

    }
    &--input{
        border: 1px solid var(--colorLinePraimary);
        background: var(--colorBackground);
    }

    &--result{

        &--quantity{}
        
    }

    &--list{
        &--child{

            &--inner{

            }
        }

        &--link{

        }

        &--title{

        }

        &--extract{

        }
    }

}